@import url('https://fonts.googleapis.com/css2?family=Open+Sans:400,500&display=swap');

*{
    box-sizing: border-box;
}
a {
    box-shadow: inset 0 0 0 0 #145374;
    color: #E8E8E8;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    box-shadow: inset 300px 0 0 0 #E8E8E8;
    color: #145374;
  }
body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin: 0;
}
#code{
    display: block;
    text-align: left;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    background-color: #E8E8E8;   
    border-radius: 5px; 
    padding-left: 15px;
    padding:15px;
    margin: 0;
}
header{
    font-size: 24px;
    font-weight: 500;
    padding: 15px;
}
nav{
    background-color: #00334E;
    border-right: 1px solid #5588A3;
    color: #fff;
    height: 100%;
    max-width: 300px;
    position: fixed;
    min-width: 300px;
    top: 0px;
    left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
nav a{
    display: block;
    border-top: 1px solid #5588A3;
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 15px;
    position: relative;
    width: 100%;
}
main{
    background-color: white;
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.5;
    position: absolute;
    margin-left: 310px;
}
p{
    padding-left: 15px;
}
@media(max-width:600px){
    body{
        flex-direction: column;
    }
    nav{
        height: 200px;
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #5588A3;
        overflow-y: scroll;

    }
    main{
        /*height: auto;*/
        width: 100%;
    }
}
